<% layout('/layouts/default.html', {title: '科蓝头条(sp)管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('科蓝头条(sp)管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('t_csii_headline:tcsiiHeadline:edit')){ %>
					<a href="${ctx}/t_csii_headline/tcsiiHeadline/form" class="btn btn-default btnTool" title="${text('新增科蓝头条(sp)')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tcsiiHeadline}" action="${ctx}/t_csii_headline/tcsiiHeadline/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('简短标题')}：</label>
					<div class="control-inline">
						<#form:input path="subtitle" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('简短标题')}', name:'subtitle', index:'a.subtitle', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/t_csii_headline/tcsiiHeadline/form?headlineid='+row.headlineid+'" class="btnList" data-title="${text('编辑科蓝头条(sp)')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('点击之后跳转的链接')}', name:'detailurl', index:'a.detailurl', width:150, align:"left"},
		{header:'${text('icon')}', name:'icon', index:'a.icon', width:150, align:"left"},
		{header:'${text('图片')}', name:'image', index:'a.image', width:150, align:"left"},
		{header:'${text('视频url')}', name:'videourl', index:'a.videourl', width:150, align:"left"},
		{header:'${text('扩展1')}', name:'extend1', index:'a.extend1', width:150, align:"left"},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('备注信息')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('t_csii_headline:tcsiiHeadline:edit')){ %>
				actions.push('<a href="${ctx}/t_csii_headline/tcsiiHeadline/form?headlineid='+row.headlineid+'" class="btnList" title="${text('编辑科蓝头条(sp)')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/t_csii_headline/tcsiiHeadline/disable?headlineid='+row.headlineid+'" class="btnList" title="${text('停用科蓝头条(sp)')}" data-confirm="${text('确认要停用该科蓝头条(sp)吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/t_csii_headline/tcsiiHeadline/enable?headlineid='+row.headlineid+'" class="btnList" title="${text('启用科蓝头条(sp)')}" data-confirm="${text('确认要启用该科蓝头条(sp)吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/t_csii_headline/tcsiiHeadline/delete?headlineid='+row.headlineid+'" class="btnList" title="${text('删除科蓝头条(sp)')}" data-confirm="${text('确认要删除该科蓝头条(sp)吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>